export(
       powerConLogistic.bin,
       powerConLogistic.con,
       powerEpi.default,
       powerEpi,
       ssizeEpi.default,
       ssizeEpi,
       numDEpi.default,
       numDEpi,
       powerEpiCont.default,
       powerEpiCont,
       ssizeEpiCont.default,
       ssizeEpiCont,
       powerEpiInt.default0,
       powerEpiInt.default1, 
       powerEpiInt,
       powerEpiInt2,
       ssizeEpiInt.default0,
       ssizeEpiInt.default1,
       ssizeEpiInt,
       ssizeEpiInt2,
       powerCT.default, 
       powerCT.default0, 
       powerCT,
       ssizeCT.default, 
       ssizeCT,
       power.stratify,
       ssize.stratify
      ) 

importFrom(stats,
           cor,
           lm,
           optim,
           pnorm,
           qnorm,
           rnorm,
           var
          )

importFrom("stats", "uniroot")

importFrom(survival,
           Surv,
           survfit
          )

importFrom(pracma,
           nchoosek)
